ai_conversations.html
context_cache.json
conversation_history.json

.env

prompt_list.md

/context_files
/Lib\site-packages
/Scripts
/output_files
/.venv
/dist
/build
/other_py_files
/Lib



.DS_Storev
.DS_Store
